.cadastro-card {
    border-radius: 14px;
    background: #fff;
    max-width: 900px;
    margin: auto;
}

.cadastro-card input,
.cadastro-card textarea,
.cadastro-card select {
    border-radius: 10px !important;
    padding: 12px;
    border: 1px solid #ccc !important;
    background: #fafafa;
    transition: 0.25s ease;
}

.cadastro-card input:focus,
.cadastro-card textarea:focus,
.cadastro-card select:focus {
    border-color: #ff0000 !important;
    background: #fff;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

.btn-danger {
    border-radius: 10px !important;
    font-size: 17px;
    transition: 0.25s;
}

.btn-danger:hover {
    background: #c20000 !important;
}

#mensagem {
    border-radius: 10px;
    font-weight: 600;
    padding: 14px;
}
