/* ------------------------------
   PERFIL PAGE
--------------------------------*/

#formPerfil {
    max-width: 600px;
    margin: auto;
}

#formPerfil h2 {
    margin-bottom: 16px;
}

#formPerfil button {
    background: var(--primary);
    border-radius: var(--radius);
}

#formPerfil button:hover {
    background: var(--primary-dark);
}
